<div class="row">
  <div class="col-md-12 title-clock">
    {{moment-format tick.tock}}
  </div>
</div>
{{#each model.channels as |channel|}}
  <div class="row">
      {{event-dashboard channel=channel}}
  </div>
{{else}}
  There are no channels to display.
{{/each}}
